* {
    margin: 0;
    padding: 0;
}


header {
    background-image: linear-gradient(lightblue, blue, darkblue);
    text-align: center;
    height: 50px;
    
}

h1 {
    margin: 0;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: right;
    
}

sidebar { 

}

